@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* nav section style */

.nav-container {
    display: flex;
    align-items: center;
    max-width: 1444px;
    margin: 0px auto;

}

.logo-container {
    width: 50%;
    display: flex;

}

.logo-container img {
    width: 90px;
    object-fit: contain;
    margin-right: 10px;
}

.logo-container p {
    color: #0B0223;
    font-size: 45px;
    font-weight: 700;
}

.logo-container span {
    color: #FF42A5;
}

.nav-items {
    width: 50%;
    display: flex;
    justify-content: space-between;

}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

/* banner section style */

.banner {
    display: flex;

}

.banner-content {
    width: 50%;
    background-image: url(images/Group\ 14.png);
    background-repeat: no-repeat;
    padding: 150px 0px 0px 240px;

}

.banner-content h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
    margin: 0px;
}

.banner-content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 95px;
    font-weight: 800;
    margin: 0px;
}

.banner-content p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
}

.banner-img {
    width: 50%;
}

.btn-pink {
    border: none;
    background-color: #F948B2;
    color: white;
    padding: 21px 40px;
    border-radius: 48px;
}

.btn-blue {
    border: none;
    background-color: rgba(78, 197, 247, 1);
    color: white;
    padding: 21px 40px;
    border-radius: 48px;
    margin-left: 24px;
}

/* know more section style */

.know-more-container {
    display: flex;
    padding: 55px 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.know-more-img {
    margin-right: 52px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.know-more-content {
    text-align: right;
    margin: 95px 0px 95px 0px;
}

.know-more-content h3 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.know-more-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.know-more-content h5 {
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
    margin: 0px;
}

/* video section style */

.video-container h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 120px;

}

.video-container span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    font-weight: 700;
}

.video-container p {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 48px;
}

.card-content {
    display: flex;
    gap: 24px;
    margin: 0px 240px
}

.card img {
    width: 100%;
}

.card-content p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
}

/* play instantly section style */

.play-container {
    display: flex;
    margin: 120px 240px 0px;
    justify-content: space-between;
}

.play-img {
    display: flex;
    flex-direction: column;
}

.lower-img {
    position: relative;
    bottom: 280px;
    right: 130px;
    width: 50%;

}

.play-content {
    padding-top: 150px;
    width: 50%;
}

.play-content h3 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    text-align: right;
    margin-bottom: 24px;
}

.play-content span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.play-content p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

/* button section style */

.btn-container {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0px 240px;
}

.btn-content {
    display: flex;
    gap: 16px;
    padding: 10px;
    margin-left: 100px;

}

.btn-content img {
    object-fit: contain;
    width: 60px;
}

.btn-content h5 {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}

/* footer section style */

.footer {
    background: #0B0223;
    margin-top: 120px;
    padding-bottom: 120px;
}

.footer-icon {
    display: flex;
    justify-content: center;
    padding-top: 120px;

}

.footer-icon img {
    width: 90px;
    object-fit: contain;
    margin-right: 10px;
}

.footer-icon h3 {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
}

.footer-icon span {
    color: #FF42A5;
}

.footer-nav a {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    text-decoration: none;
    margin-left: 60px;

}

.footer-nav {
    text-align: center;
    margin-top: 26px;
}

.social-icon {
    width: 40px;
    margin-left: 40px;
}

.social-media {
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

.footer-setting a {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 60px;

}

.footer-setting {
    text-align: center;
    margin-top: 64px;
}

.footer p {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin-top: 28px;
}

/* tablet style */
@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container {
        max-width: 100%;
        padding: 0px 50px;

    }

    .banner-content {
        padding: 200px 0px 0px 70px;

    }
}

/* mobile style */
@media screen and (max-width:576px) {
    .nav-container {
        flex-direction: column;
    }

    .logo-container {
        justify-content: center;

    }

    .logo-container img {
        width: 40px;
        object-fit: contain;
        margin-right: 10px;
    }

    .logo-container p {
        color: #0B0223;
        font-size: 25px;
        font-weight: 700;
    }

    .nav-items {
        flex-direction: column;
        align-items: center;
    }

    .banner {
        flex-direction: column-reverse;

    }

    .banner-img {
        width: 100%;
    }

    .banner-img img {
        width: 100%;
    }

    .banner-content {
        width: 100%;
        background-image: url(images/Group\ 14.png);
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 0px;
        padding: 0px;

    }

    .know-more-container {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    .know-more-img img {
        width: 100%;

    }

    .know-more-content {
        text-align: right;
        padding-left: 10px;
        padding-right: 10px;
    }

    .card-content {
        flex-direction: column;
        align-items: center;
        margin: 0px;

    }

    .card img {
        width: 100%;
    }

    .card p {
        font-size: 14px;
    }

    .video-container h3 {
        font-size: 25px;
    }

    .video-container span {
        font-size: 25px;
    }

    .play-container {
        flex-direction: column;
        margin: 0px;
        padding: 0px;
    }

    .play-content {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }

    .play-content h3 {
        text-align: center;
    }

    .play-content p {
        text-align: center;
    }

    .play-img .upper-img {
        width: 80%
    }

    .play-img .lower-img {
        width: 40%;
    }

    .play-img {
        align-items: flex-end;
    }

    .lower-img {
        position: relative;
        bottom: 180px;
        right: 280px;

    }

}